/* CUSTOM PROPERTIES */
:root {
  --clr-light: rgb(255, 255, 255);
  --clr-dark: rgb(0, 0, 0);
  --clr-disabled: rgb(131, 131, 131);
  --clr-accent: #5877d8;
  --font-main: 'Oswald', sans-serif;
}

/* MAIN STYLES */
*, *::after, *::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-dark);
  font-family: var(--font-main);
  font-weight: 200;
  font-size: 1.2em;
  line-height: 1.5;
  color: var(--clr-accent);
}
a {
  cursor: pointer;
}

/* HEADER STYLES */
header {
  /* border: 1px solid white; */
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  background-color: var(--clr-dark);
  font-size: 1.2em;
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
  /* height: 2em; */
  width: 100%;
  z-index: 999;
}
header h1 {
  /* border: 1px solid red; */
  font-weight: 400;
  display: block;
  position: relative;
  margin-left: 1em;
}
nav {
  /* border: 1px solid red; */
  background-color: var(--clr-dark);
  position: absolute;
  text-align: right;
  top: 100%;
  width: 100%;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 2rem;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav ul {
  margin-right: 1em;
}
nav a {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.nav-toggle {
  display: none;
}
.nav-toggle:checked ~ nav {
  display: block;
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a,
.nav-toggle:checked ~ nav h1 {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
.nav-toggle-label {
  display: flex;
  position: absolute;
  align-items: center;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  position: relative;
  background: var(--clr-accent);
  height: .2em;
  width: 1.5em;
  border-radius: 2px;
}
.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
}
.hamburger::before {
  bottom: .4em;
}
.hamburger::after {
  top: .4em;
}

/* HEADER */
.hero-img {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  /* border: 1px solid white; */
  width: 100vw;
  height: 30vh;
  overflow: hidden;
}
.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SECTIONS */
.section {
  display: flex;
  padding: 1em;
}

/* STATEMENT */
.statement-images img {
  margin: 1.5em .5em;
}
.img-fm {
  width: 55%;
}
.img-impulso {
  width: 25%;
}

/* VIDEO */
.section-video {
  margin-top: 2em;
  padding: .5em;
  /* width: 100%; */
  /* height: 50vh; */
}
.video-wrapper {
position: relative;
padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
}
iframe{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/* BIOS */
.section-bios {
  flex-wrap: wrap;
  justify-content: space-between;
}
.bio-card {
  width: 100%;
  padding: .5em;
  margin-bottom: 2em;
}
.bio-card img {
  /* border: 1px solid white; */
  width: 100%;
  margin-bottom: 1em;
}
.bio-card span {
  font-weight: 400;
}

/* GALERIA */
.section-galeria {
  flex-wrap: wrap;
}
.section-galeria img {
  width: 100%;
  margin: .5em 0;
}


/* MEDIA QUERIES */

@media screen and (min-width: 800px) {
  /* MAIN */
  body {
    font-size: 1.5em;
  }
  /* HEADER */
  header {
    padding-bottom: 0;
    justify-content: space-between;
  }
  header h1 {
    margin-left: 3em;
  }
  .nav-toggle-label {
    display: none;
  }
  nav {
    display: flex;
    position: relative;
    width: auto;
    padding: 0;
    transform: scale(1, 1);
  }
  nav a {
    opacity: 1;
  }
  nav ul {
    display: flex;
    margin-left: auto;
    margin-right: 3em;
  }
  nav li {
    padding-left: 1em;
  }
  /* HERO */
  .hero-img {
    height: 100vh;
  }
  /* SECTIONS */
  .section {
    margin: 2em 3em 0 3em;
    padding: 0;
    padding-top: 5rem;
  }
  /* VIDEO */
  .section-video {
    padding: 5em;
  }
  /* STATEMENT */
  .statement-images {
    display: flex;
    align-items: baseline;
  }
  .statement-images img {
    margin: 1.5em;
  }
  .img-fm {
    width: 500px;
    height: 100%;
  }
  .img-impulso {
    width: 200px;
    height: 100%;
  }
  /* BIOS */
  .bio-card {
    width: 25%;
    padding: 2em;
  }
  /* GALERIA */
  .section-galeria {
    padding-top: 0;
    margin-bottom: 3em;
  }
  .section-galeria img {
    margin: .5em .5em;
  }
  .galeria-top,
  .galeria-bottom {
    display: flex;
  }
  .galeria-top img {
    width: 33%;
    object-fit: contain;
  }
  .galeria-bottom img {
    width: 50%;
    object-fit: contain;
  }
}
